<main id="main">
{{>admin-header}}
{{>admin-sidebar}}
     <!-- Content-->
<section class="container-fluid">
    <div class="flex gap-4">
        <div class="card mb-4 lg:w-1/3">
            <div class="card-header justify-content-between align-items-center d-flex">
                <h6 class="card-title m-0">Add Coupons</h6>
            </div>
            <div class="card-body">
                <form action="/admin/addCoupon" method="POST" id="couponForm">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="flex flex-col mb-3">
                            <label for="couponName" class="form-label">Coupon Name</label>
                            <input type="text" class="form-control" id="couponName"
                            aria-describedby="emailHelp" placeholder="Type here" name="couponName">
                            <span id="couponNameError" class="text-red-500 hidden">Coupon name should be at least 3 characters long</span>
                        </div>  
                        <div class="flex flex-col mb-3">
                            <label for="couponDesc" class="form-label">Coupon Description</label>
                            <textarea id="couponDesc" name="couponDesc" rows="4" cols="50" class="border rounded-md border-gray-300 p-2" placeholder="Type Here"></textarea>
                            <span id="couponDescError" class="text-red-500 hidden">Minimum 5 words required</span>
                        </div>
                        <div class="flex flex-col mb-3">
                            <label for="couponMinAmt" class="form-label">Minimum Purchase amount</label>
                            <input type="text" class="form-control" id="couponMinAmt"
                            aria-describedby="emailHelp" placeholder="0" name="couponMinAmt" required min='0'>
                            <span id="couponMinAmtError" class="text-red-500 hidden">Minimum purchase amount should be a non-negative number</span>
                        </div>
                        <div class="flex flex-col mb-3">
                            <label for="couponDiscount" class="form-label">Discount (%)</label>
                            <input type="text" class="form-control" id="couponDiscount"
                            aria-describedby="emailHelp" placeholder=0 name="couponDiscount">
                            <span id="couponDiscountError" class="text-red-500 hidden">Discount should be a positive number</span>
                        </div>
                        <div class="flex flex-col mb-3">
                            <label for="validCoupon" class="form-label">Valid From</label>
                            <input type="date" class="form-control" id="couponFrom" name="validFrom"
                            aria-describedby="emailHelp"  name="validFrom" required min="{{currentDate}}">
                        </div>
                        <div class="flex flex-col mb-3">
                            <label for="ValidCouponExp" class="form-label">Valid Until</label>
                            <input type="date" class="form-control" id="ValidUntil" name="validUntil"
                            aria-describedby="emailHelp"  name="ValidUntil" required min="{{nextDate}}" max="{{maxDate}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Coupon</button>
                    </form>
                </div>
            </div>
            <div class="card mb-4 lg:w-2/3">
                 <div class="card-header justify-content-between align-items-center d-flex">
                    <h6 class="card-title m-0">Coupon Listing</h6>
                </div> 
            {{#if CouponLength}} 
             <div class="card-body">
                <!-- Coupon listing Actions-->
                <div class="d-flex justify-content-between align-items-center mb-3">
                      <form class="bg-light rounded px-3 py-1 flex-shrink-0 d-flex align-items-center">
                            <input class="form-control border-0 bg-transparent px-0 py-2 me-5 fw-bolder" type="search"
                             placeholder="Search" aria-label="Search">
                            <button class="btn btn-link p-0 text-muted" type="submit"><i class="ri-search-2-line"></i></button>
                        </form>
                </div>
                <!-- /Coupon listing Actions-->
                <!-- Coupon  Listing Table-->
                <div class="table-responsive">
                    <table class="table m-0 table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Coupon Name</th>
                                <th>Active</th>
                                <th>Discount (%)</th>
                                <th>MinPurchaseAmt (₹)</th>
                                <th>Coupon Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each coupons}}
                            {{#if (compareDateHelper validUntil '>' ../currentDate)}}
                            <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">{{incrementIndex ../coupons @index}}</div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">{{this.couponname}}
                                            </p>
                                            {{!-- <span class="d-block text-muted">{{this.code}}</span> --}}
                                        </div>
                                    </div>
                                </td>
                                 <td>
                                    {{#if this.isActive}}
                                    <div class="d-flex align-items-center">
                                       <span class="badge rounded-pill bg-success" id="coupon-status-{{this._id}}">Active</span>
                                    </div>
                                    {{else}}
                                    <div class="d-flex align-items-center">
                                        <span class="badge rounded-pill bg-danger" id="coupon-status-{{this._id}}">Disabled</span>
                                    </div>
                                    {{/if}}
                                </td>
                                <td class="text-center">{{this.discount}} %</td>
                                <td class="text-center">₹ {{this.minimumPurchase}} </td>
                                <td class="">{{this.code}}</td>
                               
                                <td>
                                    {{#if this.isActive}}
                                    <button type="button" class="btn mb-2 btn-outline-danger" id="coupon-action-{{this._id}}" onclick="updateCoupon('{{this._id}}',false)">Disable</button>
                                    {{else}}
                                    <button type="button" class="btn mb-2 btn-outline-success" id="coupon-action-{{this._id}}" onclick="updateCoupon('{{this._id}}',true)">Enable</button>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>    
                <!-- /Coupon Listing Table-->
                <nav>
                    <ul class="pagination justify-content-end mt-3 mb-0">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
            {{else}}
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <div class="text-center">
                    <p class="text-muted font-bold text-2xl">No Coupons Found</p>
                    <button class="btn btn-primary" id="addCouponBtn">Add Coupon</button>
                </div>
            </div>
            {{/if}} 
        </div>
        </div>
    </div>
        {{!-- Second div body --}}
        <div class="card mb-4">
            <div class="card-header justify-content-between align-items-center d-flex">
                <h6 class="card-title m-0">Expired Coupons</h6>
            </div>
            <div class="card-body">
                <!-- User listing Actions-->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <form class="bg-light rounded px-3 py-1 flex-shrink-0 d-flex align-items-center">
                        <input class="form-control border-0 bg-transparent px-0 py-2 me-5 fw-bolder" type="search"
                          placeholder="Search" aria-label="Search">
                        <button class="btn btn-link p-0 text-muted" type="submit"><i class="ri-search-2-line"></i></button>
                    </form>
                </div>
                <!-- /user listing Actions-->

                <!-- User Listing Table-->
                {{#unless (getExpiredCouponLength  coupons currentDate)}}
                <div class="table-responsive">
                   <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <div class="text-center">
                                 <p class="text-muted font-bold text-2xl">No Expired Coupons Found</p>
                                 <p class="text-muted">No coupons have expired at the moment</p>
                         {{!-- <button class="btn btn-primary">If Expired Coupons Available, They Will Be Shown Here</button> --}}
                        </div>
                     </div>
                    {{else}}
                    <table class="table m-0 table-striped">
                    <thead>
                            <tr>
                                <th>No</th>
                                <th>Coupon Name</th>
                                <th>Active</th>
                                <th>Discount (%)</th>
                                <th>Coupon Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each coupons}}
                            {{#if (compareDateHelper validUntil '<' ../currentDate)}}
                            <tr>
                               <td>
                                <div class="form-group form-check-custom mb-0">{{incrementIndexOfExp ../coupons @index}}</div>
                                </td>
                                 <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">{{this.couponname}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                  <td><span class="badge rounded-pill bg-secondary" id="coupon-status-{{_id}}">Expired</span></td>
                                <td class="text-muted">{{this.discount}} %</td>
                                <td>
                                    {{this.code}}
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                    {{!-- <nav>
                    <ul class="pagination justify-content-end mt-3 mb-0">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav> --}}
                </div>    
                <!-- /User Listing Table-->
            {{/unless}}
            </div>
        </div>
        {{!-- end of second body div --}}
        <!-- Footer -->
        <footer class="  footer">
            <p class="small text-muted m-0">All rights reserved | © 2021</p>
            <p class="small text-muted m-0">Template created by <a href="https://www.pixelrocket.store/">PixelRocket</a></p>
        </footer>
        
        
        <!-- Sidebar Menu Overlay-->
        <div class="menu-overlay-bg"></div>
        <!-- / Sidebar Menu Overlay-->
        

           <!-- / Footer-->

        </section>
        <!-- / Content-->
<script>
 // Find the add coupon button and input field
    const addCouponBtn = document.getElementById('addCouponBtn');
   const couponNameInput = document.getElementById('couponName');
   
   // Add click event listener to the button
   addCouponBtn.addEventListener('click', () => {
     // Focus on the input field
     couponNameInput.focus();
   });
 
</script>
</main>
