<main id="main">
    {{>admin-header}}
    {{>admin-sidebar}}
    {{>deleteModal}}
     <!-- Content-->
        <section class="container-fluid">
          <div id="messageContainer">
    {{#if message}}
    <div class="alert alert-primary d-flex align-items-center mb-4" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#info-fill" />
        </svg>
        <div>
            {{message}}
        </div>
    </div>
    {{/if}}
     </div>
        
        <div class="card mb-4">
            <div class="card-header justify-content-between align-items-center d-flex">
                <h6 class="card-title m-0">Product Management</h6>
                {{!-- <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-more-2-line"></i>
                    </button>
                    <ul class="dropdown-menu dropdown" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div> --}}
            </div>
            <div class="card-body">

                <!-- Product listing Actions-->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <form class="bg-light rounded px-3 py-1 flex-shrink-0 d-flex align-items-center">
                        <input class="form-control border-0 bg-transparent px-0 py-2 me-5 fw-bolder" type="search"
                          placeholder="Search" aria-label="Search">
                        <button class="btn btn-link p-0 text-muted" type="submit"><i class="ri-search-2-line"></i></button>
                    </form>
                    <div class="d-flex justify-content-end">
                        {{!-- <a href="#" class="btn btn-outline-secondary btn-sm text-body me-2"><i class="ri-download-fill align-bottom"></i> Export Users</a> --}}
                        <a class="btn btn-sm btn-primary" href="/admin/add-product"><i class="ri-add-circle-line align-bottom"></i> New Product</a>
                    </div>
                </div>
                <!-- /user listing Actions-->

                <!-- Product Listing Table-->
                 {{#if hasProducts}}
                <div class="table-responsive" id="prodTable">
                    <table class="table m-0 table-striped">
                        <thead>
                            <tr>
                                <th>Serial NO.</th>
                                <th>Product Name</th>
                                <th>Image</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Stock Quantity</th>
                                <th>Product Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each prods}}
                            <tr>
                                <td class="small text-muted capitalize text-center">{{serialNumber}}</td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        {{!-- <div class="avatar avatar-xs me-3 flex-shrink-0">
                                            <picture>
                                                <img class="f-w-10 rounded-circle" src="/images/profile-small-4.jpeg"
                                                alt="">
                                            </picture> 
                                        </div> --}}
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1 capitalize">{{title}}
                                                    {{!-- <span class="d-block f-w-4 ms-1 lh-1 text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </span> --}}
                                            </p>
                                            {{!-- <span class="d-block text-muted">jon@apollo.co.uk</span> --}}
                                        </div>
                                    </div>
                                </td>
                                <td><img src="{{imageUrl}}" alt="{{title}}" width="200" height="200"></td>
                                <td class="small text-muted capitalize">{{category.name}}</td>
                                <td>
                                    <div class="d-flex align-items-center description-box">
                                        {{!-- <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span>  --}}
                                        <span class="small text-muted">{{description}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {{!-- <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span>  --}}
                                        <span class="small text-muted">{{stock}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {{!-- <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span>  --}}
                                        <span class="small text-muted text-center ">₹{{price}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-0" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-0">
                                            <li style="display: flex;cursor:pointer;"><a class="dropdown-item" href="/admin/edit-product/{{this._id}}?edit=true" >Edit</a>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                              </svg>
                                            </li>
                                            <li style="display: flex;cursor:pointer"><a class="dropdown-item" href="/admin/view-product/{{this._id}}">View Details</a>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                           <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                                          </svg>
                                            </li>
                                            <form id="deleteProductForm" action="/admin/delete-product" method="post">
                                            <input type="hidden" name="productId" value="{{this._id}}">
                                            <li style="display: flex;cursor:pointer;color:red"><button type="submit" class="dropdown-item deleteButton" data-title="Delete Product" data-body="Are you sure you want to delete this Product?" onclick="handleDelete(event,this.closest('form'))">Delete</button>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                            </svg>
                                            </li>
                                            </form>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                             {{else}}
                  <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                    aria-label="Warning:">
                                    <use xlink:href="#exclamation-triangle-fill" /></svg>
                                <div>
                                    No Product Found!
                                </div>
                            </div>  
                  <div class="card-body">
                            <a href="/admin/add-product" class="btn mb-2 btn-outline-info">Add Product</a>
                        </div>
                    </div>
                    <div>
                    </div>
                 {{/if}}
                       </tbody>
                    </table>
                </div>    
                <!-- /Product Listing Table-->
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                            <button class="btn-icon bg-primary-faded text-primary fw-bolder me-3">A</button>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Anne Kimber
                                            </p>
                                            <span class="d-block text-muted">anne.kimber@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Sales Leader</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> Manchester, UK</td>
                                <td class="text-muted">3rd Apr, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-danger d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Offline</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div class="avatar avatar-xs me-3 flex-shrink-0">
                                            <picture>
                                                <img class="f-w-10 rounded-circle" src="/images/profile-small-2.jpeg"
                                                alt="">
                                            </picture>
                                        </div>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Patrick Patel
                                                    <span class="d-block f-w-4 ms-1 lh-1 text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </span>
                                            </p>
                                            <span class="d-block text-muted">patrick@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>IT Support</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> New York, US</td>
                                <td class="text-muted">17th Feb, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Online</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-2">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div class="avatar avatar-xs me-3 flex-shrink-0">
                                            <picture>
                                                <img class="f-w-10 rounded-circle" src="/images/profile-small-3.jpeg"
                                                alt="">
                                            </picture>
                                        </div>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Robert Smith
                                                    <span class="d-block f-w-4 ms-1 lh-1 text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </span>
                                            </p>
                                            <span class="d-block text-muted">rob@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Team Leader</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> Canberra, AU</td>
                                <td class="text-muted">24th March, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Online</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-3">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                            <button class="btn-icon bg-primary-faded text-primary fw-bolder me-3">B</button>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Barry Rogan
                                            </p>
                                            <span class="d-block text-muted">barry.rogan@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Sales Support</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> London, UK</td>
                                <td class="text-muted">3rd May, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-danger d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Offline</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-4" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-4">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                            <button class="btn-icon bg-primary-faded text-primary fw-bolder me-3">K</button>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Karin Frum
                                            </p>
                                            <span class="d-block text-muted">karin.frum@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Customer Support</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> Manchester, UK</td>
                                <td class="text-muted">11th Apr, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-danger d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Offline</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-5" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-5">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div class="avatar avatar-xs me-3 flex-shrink-0">
                                            <picture>
                                                <img class="f-w-10 rounded-circle" src="/images/profile-small-5.jpeg"
                                                alt="">
                                            </picture>
                                        </div>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Onome Sanomi
                                                    <span class="d-block f-w-4 ms-1 lh-1 text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </span>
                                            </p>
                                            <span class="d-block text-muted">onome@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Administrator</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> London, UK</td>
                                <td class="text-muted">24th Jan, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Online</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-6" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-6">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                            {{!-- <tr>
                                <td>
                                    <div class="form-group form-check-custom mb-0">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-start">
                                        <div class="avatar avatar-xs me-3 flex-shrink-0">
                                            <picture>
                                                <img class="f-w-10 rounded-circle" src="/images/profile-small-6.jpeg"
                                                alt="">
                                            </picture>
                                        </div>
                                        <div>
                                            <p class="fw-bolder mb-1 d-flex align-items-center lh-1">Kevin Smith
                                                    <span class="d-block f-w-4 ms-1 lh-1 text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </span>
                                            </p>
                                            <span class="d-block text-muted">kevin@apollo.co.uk</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Administrator</td>
                                <td class="text-muted"><i class="ri-map-pin-line align-bottom"></i> London, UK</td>
                                <td class="text-muted">19th Mar, 2021</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="f-w-2 f-h-2 bg-success d-block rounded-circle me-1 fs-xs fw-bolder"></span> <span class="small text-muted">Online</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                            id="dropdownOrder-7" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-line"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-7">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr> --}}
                <nav>
                    <ul class="pagination justify-content-end mt-3 mb-0">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>

        <!-- Footer -->
        <footer class="  footer">
            <p class="small text-muted m-0">All rights reserved | © 2021</p>
            <p class="small text-muted m-0">Template created by <a href="https://www.pixelrocket.store/">PixelRocket</a></p>
        </footer>
        
        
        <!-- Sidebar Menu Overlay-->
        <div class="menu-overlay-bg"></div>
        <!-- / Sidebar Menu Overlay-->
        
        <!-- Modal Imports-->
        <!-- Place your modal imports here-->
        
        <!-- Default Example Modal Import-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Here goes modal body content
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <!-- Offcanvas Imports-->
        <!-- Place your offcanvas imports here-->
        
        <!-- Default Example Offcanvas Import-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
              </div>
              <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        <!-- Activity Offcanvas Import-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasActivity" aria-labelledby="offcanvasActivityLabel">
          <div class="offcanvas-header d-flex align-items-center justify-content-between">
            <h5 class="offcanvas-title" id="offcanvasActivityLabel">Activity</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
        
                <li class="list-group-item pt-0 pb-5 list-group-activity d-flex align-items-start">
                  <div class="avatar avatar-xs me-3 flex-shrink-0">
                    <picture>
                      <img class="f-w-10 rounded-circle" src="/images/profiles/profile-small-7.jpeg" alt="">
                    </picture>
                    <span class="avatar-dot bg-success"></span>
                  </div>
                  <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                      <p class="fw-semibold mb-0 me-3">John Doe</p>
                      <span class="small d-block text-muted fw-bolder">5m ago</span>
                    </div>
                    <span class="small d-block text-muted">Submitted quarterly marketing report for review.</span>
                      <div class="bg-light border rounded-md p-2 mt-2 d-flex justify-content-start align-items-start">
                        <div class="d-flex align-items-start me-3">
                          <i class="ri-file-word-line ri-2x lh-1 me-2 text-primary"></i>
                          <div>
                            <span class="d-block fw-bolder small">Year End Report</span>
                            <span class="text-muted d-block fs-xs">24KB</span>
                          </div>
                        </div>
                      </div>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-5 list-group-activity d-flex align-items-start">
                  <div class="avatar avatar-xs me-3 flex-shrink-0">
                    <picture>
                      <img class="f-w-10 rounded-circle" src="/images/profiles/profile-small-2.jpeg" alt="">
                    </picture>
                    <span class="avatar-dot bg-success"></span>
                  </div>
                  <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                      <p class="fw-semibold mb-0 me-3">Sally Field</p>
                      <span class="small d-block text-muted fw-bolder">1h ago</span>
                    </div>
                    <span class="small d-block text-muted">Marked project status as completed.</span>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-5 list-group-activity d-flex align-items-start">
                  <div class="avatar avatar-xs me-3 flex-shrink-0">
                    <picture>
                      <img class="f-w-10 rounded-circle" src="/images/profiles/profile-small-3.jpeg" alt="">
                    </picture>
                    <span class="avatar-dot bg-success"></span>
                  </div>
                  <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                      <p class="fw-semibold mb-0 me-3">Mark Robinson</p>
                      <span class="small d-block text-muted fw-bolder">2h ago</span>
                    </div>
                    <span class="small d-block text-muted">Created 2 new products in Mens Shoes</span>
                      <div class="bg-light border rounded-md p-2 mt-2 d-flex justify-content-start align-items-start">
                        <picture class="me-2">
                          <img class="f-w-12 rounded" src="/images/profiles/1.png"
                            alt="">
                        </picture>
                        <picture>
                          <img class="f-w-12 rounded" src="/images/profiles/3.png"
                            alt="">
                        </picture>
                      </div>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-5 list-group-activity d-flex align-items-start">
                  <div class="avatar avatar-xs me-3 flex-shrink-0">
                    <picture>
                      <img class="f-w-10 rounded-circle" src="/images/profiles/profile-small-4.jpeg" alt="">
                    </picture>
                    <span class="avatar-dot bg-success"></span>
                  </div>
                  <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                      <p class="fw-semibold mb-0 me-3">Jeffrey Way</p>
                      <span class="small d-block text-muted fw-bolder">6h ago</span>
                    </div>
                    <span class="small d-block text-muted">Set user status as &#x27;offline&#x27;</span>
                  </div>
                </li>
        
            </ul>
            <a href="#" class="btn btn-outline-secondary btn-sm text-body d-flex align-items-center justify-content-center py-3 mb-4">
              <span class="f-w-4 text-muted d-block me-2">
                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
            </span>
              View All Activity
            </a>
          </div>
        </div>
        {{!-- <!-- Message Offcanvas Import-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMessage" aria-labelledby="offcanvasMessageLabel">
            <div class="offcanvas-header position-relative">
              <div class="d-flex flex-column w-100">
                <h5 class="offcanvas-title mb-3" id="offcanvasMessageLabel">Company Meetup</h5>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="avatar-group me-4">
                    <picture class="avatar-group-img">
                        <img class="f-w-10 rounded-circle" src="/images/profile-small.jpeg"
                        alt="HTML Bootstrap Admin Template by Pixel Rocket">
                    </picture>
                    <picture class="avatar-group-img">
                        <img class="f-w-10 rounded-circle" src="/images/profile-small-2.jpeg"
                        alt="HTML Bootstrap Admin Template by Pixel Rocket">
                    </picture>
                    <picture class="avatar-group-img">
                        <img class="f-w-10 rounded-circle" src="/images/profile-small-3.jpeg"
                        alt="HTML Bootstrap Admin Template by Pixel Rocket">
                    </picture>
                    <picture class="avatar-group-img">
                        <img class="f-w-10 rounded-circle" src="/images/profile-small-4.jpeg"
                        alt="HTML Bootstrap Admin Template by Pixel Rocket">
                    </picture>
                    <span class="small fw-bolder ms-2 text-muted opacity-90">+ 12 others</span>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle dropdown-toggle-icon p-0" type="button"
                        id="dropdownTop" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-settings-3-line text-muted ri-lg"></i>
                    </button>
                    <ul class="dropdown-menu dropdown" aria-labelledby="dropdownTop">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                </div>
              </div>
              <button type="button" class="btn-close text-reset position-absolute top-20 end-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body h-100 d-flex justify-content-between flex-column pb-0">
              <div class="overflow-auto py-4">
                <div class="overflow-hidden">
                  <!-- Messages-->
                  <div class="d-flex align-items-end justify-content-start mb-4 flex-wrap">
                      <div class="avatar avatar-xs me-3 flex-shrink-0">
                          <picture>
                              <img class="f-w-10 rounded-circle" src="/images/profile-small-4.jpeg"
                              alt="HTML Bootstrap Admin Template by Pixel Rocket">
                          </picture>
                          <span class="avatar-dot bg-success"></span>
                      </div>
                      <div class="d-flex justify-content-start flex-column align-items-start col">
                          <small class="text-muted fs-xs fw-bolder"><span class="fw-bold">Patrick Johnson</span> &middot; 2 mins ago</small>
                          <div class="bg-light p-3 mt-2 rounded-t-s-4 rounded-t-e-4 rounded-b-e-4">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          </div>
                      </div>
                  </div>          <div class="d-flex align-items-end justify-content-start mb-4 flex-wrap">
                      <div class="d-flex justify-content-end flex-column align-items-end col">
                          <small class="text-muted fs-xs fw-bolder"><span class="fw-bold">You</span> &middot; 5 mins ago</small>
                          <div class="bg-primary text-white p-3 mt-2 rounded-t-s-4 rounded-t-e-4 rounded-b-s-4">
                              Maecenas aliquet eu felis vel.
                          </div>
                      </div>
                      <div class="avatar avatar-xs ms-3 flex-shrink-0">
                          <picture>
                              <img class="f-w-10 rounded-circle" src="./assets/images/profile-small-3.jpeg"
                              alt="HTML Bootstrap Admin Template by Pixel Rocket">
                          </picture>
                          <span class="avatar-dot bg-success"></span>
                      </div>
                  </div>          <div class="d-flex align-items-end justify-content-start mb-4 flex-wrap">
                      <div class="avatar avatar-xs me-3 flex-shrink-0">
                          <picture>
                              <img class="f-w-10 rounded-circle" src="./assets/images/profile-small-4.jpeg"
                              alt="HTML Bootstrap Admin Template by Pixel Rocket">
                          </picture>
                          <span class="avatar-dot bg-success"></span>
                      </div>
                      <div class="d-flex justify-content-start flex-column align-items-start col">
                          <small class="text-muted fs-xs fw-bolder"><span class="fw-bold">Patrick Johnson</span> &middot; 25 mins ago</small>
                          <div class="bg-light p-3 mt-2 rounded-t-s-4 rounded-t-e-4 rounded-b-e-4">
                              Cras sit amet gravida augue.
                          </div>
                      </div>
                  </div>          
                  <!-- / Messages-->
                </div>
              </div>
              <div class="border-top p-4 mx-n3">
                <div class="d-flex flex-column align-items-end">
                  <input type="text" class="form-control d-flex w-100 bg-light border-0 text-muted mb-3" placeholder="Add new message...">
                  <div class="d-flex justify-content-between w-100 align-items-center">
                    <i class="ri-attachment-line text-muted ri-lg"></i>
                    <button class="btn btn-sm btn-primary">Send</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>        
         --}}
          <!-- / Footer-->         

        </section>

 {{!-- Sample tailwind css modal --}}
     {{!-- <div id="deleteModal-{{this._id}}" class="min-w-screen h-screen animated fadeIn faster  fixed  left-5 top-10 justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover hidden" >
   	<div class="absolute bg-transparent opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <div class="text-center p-2 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 -m-1 flex items-center text-red-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 flex items-center text-red-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
</svg>
                        <h2 class="text-xl font-bold py-4 ">Are you sure?</h3>
                        <p class="text-sm text-gray-500 px-8">Do you really want to delete the product?
                This cannot be restore</p>     
                   <h2 class="text-xl font-bold py-4 modal-title"></h3>
                        <p class="text-sm text-gray-500 px-8 modal-body"></p>   
        </div>
        <!--footer-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button id="cancelButton" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                Cancel
            </button>
            <button class="mb-2 md:mb-0 bg-red-500 border border-red-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600" id="confirmDeleteButton">Delete</button>
        </div>
      </div>
    </div>
</div>  --}}
 {{!-- End of tailwind css modal --}}
        <!-- / Content-->
</main>