<main>
     <!--====== App Content ======-->
        <div class="app-content">
            {{>user-profile-sidebar}}
            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row"> 
                                {{>account-detail-sidebar}}
                                <div class="col-lg-9 col-md-12"> 
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary">Order #{{order._id}}</div>
                                                    <div class="manage-o__text u-c-silver">Placed on {{formatDate order.dateCreated}}</div>
                                                </div>
                                                <div>
                                                    <div class="manage-o__text-2 u-c-silver">Total:

                                                        <span class="manage-o__text-2 u-c-secondary">₹{{order.total}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30" id="truck-class">
                                                    <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>
                                                        <span class="manage-o__text">Package 1</span>
                                                        </div>
                                                          <div class="manage-o__icon">
                                                        <a onclick="CancelOrder('{{order._id}}')">
                                                        <i class="fas fa-window-close u-s-m-r-5"></i>
                                                        <span class="manage-o__text badge--cancelled" style="color: red;">Cancel Order</span>
                                                        </a>
                                                        </div>
                                                </div>
                                                <div class="dash-l-r">
                                                    <div class="manage-o__text u-c-secondary">Delivered on 3-4 days</div>
                                                    <div class="manage-o__icon"><i class="fas fa-truck u-s-m-r-5"></i>

                                                        <span class="manage-o__text">Standard</span></div>
                                                </div>
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">
                                                                    <span class="timeline-circle"></span></div>
                                                                    {{#if (eq status 'pending')}}
                                                                <span class="timeline-text">Processing</span>
                                                                {{/if}}
                                                                {{#if (eq status 'pending')}}
                                                                <span class="timeline-text">Shipped</span>
                                                                {{/if}}
                                                                {{#if (eq status 'pending')}}
                                                                <span class="timeline-text">Completed</span>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                        {{#if (eq status 'Shipped')}}
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        {{/if}}
                                                        {{#if (eq status 'Completed')}}
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                                <div style="display: grid;gap: 30px;">
                                                {{#each order.products}}
                                                <div class="manage-o__description">
                                                    <div class="description__container">
                                                        <div class="description__img-wrap">

                                                            <img class="u-img-fluid" src="{{this.product.imageUrl.[0]}}" alt=""></div>
                                                        <div class="description-title">{{this.product.title}}</div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{this.quantity}}</span></span>
                                                                </div>
                                                                <div>
                                                            <span class="manage-o__text-2 u-c-silver">Price:
                                                            <span class="manage-o__text-2 u-c-secondary">{{this.product.price}}</span>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="manage-o__text-2 u-c-silver">Total:
                                                            <span class="manage-o__text-2 u-c-secondary">₹{{multiply this.quantity this.product.price}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8">{{order.shippingAddress.fname}} {{order.shippingAddress.lname}}</h2>

                                                    <span class="dash__text-2">{{order.shippingAddress.street_address}},{{order.shippingAddress.state}}</span>

                                                    <span class="dash__text-2">{{order.shippingAddress.phone}}</span>
                                                </div>
                                            </div>
                                            <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Billing Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8">{{order.shippingAddress.fname}} {{order.shippingAddress.lname}}</h2>

                                                    <span class="dash__text-2">{{order.shippingAddress.street_address}},{{order.shippingAddress.state}}</span>

                                                    <span class="dash__text-2">{{order.shippingAddress.phone}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Subtotal:</div>
                                                        <div class="manage-o__text-2 u-c-secondary">₹{{order.subTotal}}</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Shipping Fee:</div>
                                                        <div class="manage-o__text-2 u-c-secondary">Free shiping</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Total After dis:</div>
                                                        <div class="manage-o__text-2 u-c-secondary">₹{{order.total}}</div>
                                                    </div>
                                                    <span class="dash__text-2">Paid by {{order.paymentmethod}}</span>
                                                     <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Payment Status</div>
                                                        <div class="manage-o__text-2 u-c-secondary">₹{{order.total}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
</main>