<main>
  <!--====== Section 1 ======-->
  <div class="u-s-p-y-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="shop-w-master">
            <h1 class="shop-w-master__heading u-s-m-b-30"><i
                class="fas fa-filter u-s-m-r-8"
              ></i>

              <span>FILTERS</span></h1>
            <div class="shop-w-master__sidebar">
              <div class="u-s-m-b-30">
                <div class="shop-w shop-w--style">
                  <div class="shop-w__intro-wrap">
                    <h1 class="shop-w__h">CATEGORY</h1>

                    <span
                      class="fas fa-minus shop-w__toggle"
                      data-target="#s-category"
                      data-toggle="collapse"
                    ></span>
                  </div>
                  <div class="shop-w__wrap collapse show" id="s-category">
                    <ul class="shop-w__category-list gl-scroll">
                       <li class="has-list">

                        <button type="button" onclick="filterByCategory('all')" id="AllCategory">ALL</button>
                      </li>
                      {{#each categories}}
                      <li class="has-list">
                        <button type="button"  onclick="filterByCategory('{{this.name}}')" class="categories" id="categoryFilter">{{this.name}}</button>
                      </li>
                       {{/each}}
                        {{!-- <span class="category-list__text u-s-m-l-6">(23)</span> --}}

                    </ul>
                  </div>
                </div>
              </div>
              {{!-- start of round  --}}
               <div class="u-s-m-b-30">
                <div class="shop-w shop-w--style">
                  <div class="shop-w__intro-wrap">
                    <h1 class="shop-w__h">PRICE</h1>
                    <span
                      class="fas fa-minus shop-w__toggle"
                      data-target="#s-price"
                      data-toggle="collapse"
                    ></span>
                  </div>
                  <div class="shop-w__wrap collapse show" id="s-price">
                    {{!-- <form class="shop-w__form-p">
                      <div class="shop-w__form-p-wrap">
                        <div>

                          <label for="price-min"></label>

                          <input
                            class="input-text input-text--primary-style"
                            type="text"
                            id="price-min"
                            placeholder="Min"
                          /></div>
                        <div>

                          <label for="price-max"></label>

                          <input
                            class="input-text input-text--primary-style"
                            type="text"
                            id="price-max"
                            placeholder="Max"
                          /></div>
                        <div>

                          <button
                            class="btn btn--icon fas fa-angle-right btn--e-transparent-platinum-b-2"
                            type="submit"
                          ></button></div>
                      </div>
                    </form> --}}
                    <div class="slidecontainer">
                     <input type="range" min="" max="" value="" class="slider" id="myRange" onchange="filterByPrice(this.value)">
                     <p>Value: ₹<span id="demo"></span></p>
                    </div>
                  </div>
                </div>
              </div>
              {{!-- end of the round  --}}
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="shop-p">
            <div class="shop-p__toolbar u-s-m-b-30">
              {{!-- <div class="shop-p__meta-wrap u-s-m-b-60">

                <span class="shop-p__meta-text-1">FOUND 18 RESULTS</span>
                <div class="shop-p__meta-text-2">

                  <span>Related Searches:</span>

                  <a class="gl-tag btn--e-brand-shadow" href="#">men's clothing</a>

                  <a class="gl-tag btn--e-brand-shadow" href="#">mobiles &
                    tablets</a>

                  <a class="gl-tag btn--e-brand-shadow" href="#">books & audible</a></div>
              </div> --}}
              <div class="shop-p__tool-style">
                <div class="tool-style__group u-s-m-b-8">

                  <span class="js-shop-grid-target is-active">Grid</span>

                  <span class="js-shop-list-target">List</span></div>
                <form>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}">
                  <div class="tool-style__form-wrap">
                    <div class="u-s-m-b-8"><select
                        class="select-box select-box--transparent-b-2"
                      >
                        <option>Show: 8</option>
                        <option selected>Show: 12</option>
                        <option>Show: 16</option>
                        <option>Show: 28</option>
                      </select></div>
                    <div class="u-s-m-b-8"><select
                        class="select-box select-box--transparent-b-2"
                      >
                        <option selected>Sort By: Newest Items</option>
                        <option>Sort By: Latest Items</option>
                        <option>Sort By: Best Selling</option>
                        <option>Sort By: Best Rating</option>
                        <option>Sort By: Lowest Price</option>
                        <option>Sort By: Highest Price</option>
                      </select></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="shop-p__collection">
              <div class="row is-grid-active">
                {{#each prods}}
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="product-m">
                    <div class="product-m__thumb">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products/{{this._id}}"
                      >
                        <img
                          class="aspect__img"
                          src="{{this.imageUrl.[0]}}"
                          alt=""
                          id="productImage{{this._id}}"
                        /></a>
                      <div class="product-m__quick-look">
                        <a
                          class="fas fa-search"
                          data-modal="modal"
                          data-modal-id="#quick-look"
                          data-tooltip="tooltip"
                          data-placement="top"
                          title="Quick Look"
                        ></a></div>
                      <div class="product-m__add-cart">
                        <a onclick="addToCart('{{this._id}}')"
                          class="btn--e-brand"
                          data-modal="modal"
                          data-target="#add-to-cart"
                          data-modal-id="#add-to-cart"
                          {{!-- data-product-id="{{_id}}" --}}
                        >Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-m__content">
                      <div class="product-m__category">

                        <a href="shop-side-version-2.html">{{category.name}}</a></div>
                      <div class="product-m__name">

                        <a href="product-detail.html" id="productName{{this._id}}">{{title}}</a></div>
                      {{!-- <div class="product-m__rating gl-rating-style"><i
                          class="fas fa-star"
                        ></i><i class="fas fa-star"></i><i
                          class="fas fa-star-half-alt"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>
                        <span class="product-m__review">(23)</span>
                        </div> --}}
                      <div class="product-m__price" id="productPrice{{this._id}}">₹{{price}}</div>
                      <div class="product-m__hover">
                        <div class="product-m__preview-description">
                            <span>{{description}}</span>
                            </div>
                        <div class="product-m__wishlist">

                          <a
                            class="far fa-heart"
                            href="#"
                            data-tooltip="tooltip"
                            data-placement="top"
                            title="Add to Wishlist"
                          ></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="u-s-p-y-60">

              <!--====== Pagination ======-->
              {{>pagination
               currentPage=currentPage
               nextPage=nextPage
               previousPage=previousPage
               lastPage=lastPage
               hasNextPage=hasNextPage
               hasPreviousPage=hasPreviousPage
               }} 
               {{!-- <ul class="shop-p__pagination">
               <li class="{{#if (StrEq currentPage 1)}}is-active{{/if}}">
                  {{#if (StrEq currentPage 1)}}
                  {{#if (StrEq previousPage 1)}}
                    <a href="/shop?page=1">1</a>
                    {{/if}}
                 {{/if}}
                  </li>
                       {{#if hasPreviousPage}}
                <li>
                  <a href="/shop?page={{previousPage}}">{{previousPage}}</a>
                  </li>
                  {{/if}}
                <li>
                  <a href="/shop?page={{currentPage}}">{{currentPage}}</a>
                  </li>
                
                  {{#if hasNextPage}}
                <li>
                  <a href="/shop?page={{nextPage}}">{{nextPage}}</a>
                  </li>
                  {{/if}}
                 {{#if (Noteq lastPage currentPage)}}
                 {{#if (Noteq nextPage lastPage)}}
                  <li>
                  <a href="/shop?page={{lastPage}}">{{lastPage}}</a>
                    </li>
                    {{/if}}
                  {{/if}}
                  
                 <li>
                  <a href="shop-side-version-2.html">3</a>
                  </li>
                <li>

                  <a href="shop-side-version-2.html">4</a></li>
                <li>

                  <a
                    class="fas fa-angle-right"
                    href="shop-side-version-2.html"
                  ></a>
                  </li> 
              </ul> --}}
              <!--====== End - Pagination ======-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section 1 ======-->

  <!--====== Quick Look Modal ======-->
  <div class="modal fade" id="quick-look">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal--shadow">

        <button
          class="btn dismiss-button fas fa-times"
          type="button"
          data-dismiss="modal"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">

              <!--====== Product Breadcrumb ======-->
              <div class="pd-breadcrumb u-s-m-b-30">
                <ul class="pd-breadcrumb__list">
                  <li class="has-separator">

                    <a href="index.hml">Home</a></li>
                  <li class="has-separator">

                    <a href="shop-side-version-2.html">Electronics</a></li>
                  <li class="has-separator">

                    <a href="shop-side-version-2.html">DSLR Cameras</a></li>
                  <li class="is-marked">

                    <a href="shop-side-version-2.html">Nikon Cameras</a></li>
                </ul>
              </div>
              <!--====== End - Product Breadcrumb ======-->

              <!--====== Product Detail ======-->
              <div class="pd u-s-m-b-30">
                <div class="pd-wrap">
                  <div id="js-product-detail-modal">
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-1.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-2.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-3.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-4.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-5.jpg" --}}
                        alt=""
                      /></div>
                  </div>
                </div>
                <div class="u-s-m-t-15">
                  <div id="js-product-detail-modal-thumbnail">
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-1.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-2.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-3.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-4.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-5.jpg" --}}
                        alt=""
                      /></div>
                  </div>
                </div>
              </div>
              <!--====== End - Product Detail ======-->
            </div>
            <div class="col-lg-7">

              <!--====== Product Right Side Details ======-->
              <div class="pd-detail">
                <div>

                  <span class="pd-detail__name">Nikon Camera 4k Lens Zoom Pro</span></div>
                <div>
                  <div class="pd-detail__inline">

                    <span class="pd-detail__price">$6.99</span>

                    <span class="pd-detail__discount">(76% OFF)</span><del
                      class="pd-detail__del"
                    >$28.97</del></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__rating gl-rating-style"><i
                      class="fas fa-star"
                    ></i><i class="fas fa-star"></i><i
                      class="fas fa-star"
                    ></i><i class="fas fa-star"></i><i
                      class="fas fa-star-half-alt"
                    ></i>

                    <span class="pd-detail__review u-s-m-l-4">

                      <a href="product-detail.html">23 Reviews</a></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__stock">200 in stock</span>

                    <span class="pd-detail__left">Only 2 left</span></div>
                </div>
                <div class="u-s-m-b-15">

                  <span class="pd-detail__preview-desc">Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since
                    the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.</span></div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__click-wrap"><i
                        class="far fa-heart u-s-m-r-6"
                      ></i>

                      <a href="signin.html">Add to Wishlist</a>

                      <span
                        class="pd-detail__click-count"
                      >(222)</span></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__click-wrap"><i
                        class="far fa-envelope u-s-m-r-6"
                      ></i>

                      <a href="signin.html">Email me When the price drops</a>

                      <span
                        class="pd-detail__click-count"
                      >(20)</span></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <ul class="pd-social-list">
                    <li>

                      <a class="s-fb--color-hover" href="#"><i
                          class="fab fa-facebook-f"
                        ></i></a></li>
                    <li>

                      <a class="s-tw--color-hover" href="#"><i
                          class="fab fa-twitter"
                        ></i></a></li>
                    <li>

                      <a class="s-insta--color-hover" href="#"><i
                          class="fab fa-instagram"
                        ></i></a></li>
                    <li>

                      <a class="s-wa--color-hover" href="#"><i
                          class="fab fa-whatsapp"
                        ></i></a></li>
                    <li>

                      <a class="s-gplus--color-hover" href="#"><i
                          class="fab fa-google-plus-g"
                        ></i></a></li>
                  </ul>
                </div>
                <div class="u-s-m-b-15">
                  <form class="pd-detail__form">
                    <div class="pd-detail-inline-2">
                      <div class="u-s-m-b-15">

                        <!--====== Input Counter ======-->
                        <div class="input-counter">

                          <span
                            class="input-counter__minus fas fa-minus"
                          ></span>

                          <input
                            class="input-counter__text input-counter--text-primary-style"
                            type="text"
                            value="1"
                            data-min="1"
                            data-max="1000"
                          />

                          <span
                            class="input-counter__plus fas fa-plus"
                          ></span></div>
                        <!--====== End - Input Counter ======-->
                      </div>
                      <div class="u-s-m-b-15">

                        <button class="btn btn--e-brand-b-2" type="submit">Add
                          to Cart</button></div>
                    </div>
                  </form>
                </div>
                <div class="u-s-m-b-15">

                  <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                  <ul class="pd-detail__policy-list">
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Buyer Protection.</span></li>
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Full Refund if you don't receive your order.</span></li>
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Returns accepted if product not as described.</span></li>
                  </ul>
                </div>
              </div>
              <!--====== End - Product Right Side Details ======-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Quick Look Modal ======-->

  <!--====== Add to Cart Modal(1) ======-->
  {{#if isAuthenticated}}
<div id="modal-view" hidden>
<div class="modal fade" id="add-to-cart">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-radius modal-shadow">

        <button  
          class="btn dismiss-button fas fa-times"
          type="button"
          data-dismiss="modal"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="success u-s-m-b-30">
                <div class="success__text-wrap"><i class="fas fa-check"></i>

                  <span>Item is added successfully!</span></div>
                <div class="success__img-wrap">

                  <img
                    class="u-img-fluid"
                    src=""
                    alt="Demo product"
                    id="prodImage"
                  /></div>
                <div class="success__info-wrap">
                  

                  <span class="success__name" id="prodName"></span>

                  <span class="success__quantity" id="prodQuantity"></span>

                  <span class="success__price" id="prodPrice"></span></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="s-option">

                <span class="s-option__text" id="cartItemCount"></span>
                {{!-- item (s) in your cart --}}
                <div class="s-option__link-box">
                  <a
                    class="s-option__link btn--e-white-brand-shadow"
                    data-dismiss="modal"
                  >CONTINUE SHOPPING</a>

                  <a
                    class="s-option__link btn--e-white-brand-shadow"
                    href="/cart"
                  >VIEW CART</a>

                  <a
                    class="s-option__link btn--e-brand-shadow"
                    href="/checkout"
                  >PROCEED TO CHECKOUT</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{else}}
<div id="modal-view" hidden>
<div class="modal fade" id="add-to-cart">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-radius modal-shadow">

        <button  
          class="btn dismiss-button fas fa-times"
          type="button"
          data-dismiss="modal"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="success u-s-m-b-30">
                <div class="success__text-wrap"><i class="fas fa-exclamation-circle"></i>

                  <span>Item is not added successfully!</span></div>
                <div class="success__img-wrap">

                  <img
                    class="u-img-fluid"
                    src=""
                    alt="Demo product"
                    id="prodImage"
                  /></div>
                <div class="success__info-wrap">
                  

                  <span class="success__name" id="prodName"></span>

                  <span class="success__quantity">Quantity: 1</span>

                  <span class="success__price" id="prodPrice"></span></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="s-option">

                <span class="s-option__text">0 item (s) in your cart</span>
                <div class="s-option__link-box">
                  <a
                    {{!-- class="s-option__link btn--e-white-brand-shadow" --}}
                    data-dismiss="modal"
                  >PLEASE LOGIN TO ADD PRODUCT!</a>
                  <a
                    class="s-option__link btn--e-white-brand-shadow"
                    href="/login"
                  >LOGIN</a>

                  {{!-- <a
                    class="s-option__link btn--e-brand-shadow"
                    href="/login"
                  >PROCEED TO CHECKOUT</a> --}}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/if}}
  <!--====== End - Add to Cart Modal(1) ======-->

    <!--====== Add to Cart Modal(2) ======-->

<div id="modal-view-stock" hidden aria-hidden="true">
  <div class="modal fade" id="stock-not-available">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-radius modal-shadow">
         <a  
          class="btn dismiss-button fas fa-times"
          data-bs-dismiss="modal"
          {{!-- href="/shop" --}}
        ></a>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="stock-not-available u-s-m-b-30">
                <div class="stock-not-available__text-wrap">
                  <i class="fas fa-exclamation-circle"></i>
                  <span>Currently, the stock is not available.</span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="s-option">
                <span class="s-option__text">Please choose a different product or continue shopping.</span>
                <div class="s-option__link-box">
                  <a class="s-option__link btn--e-white-brand-shadow" data-bs-dismiss="modal" href="/shop">CONTINUE SHOPPING</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!--====== End - Add to Cart Modal(2) ======-->

      <!--====== Add to Cart Modal(3) ======-->

<div id="modal-AdminLogin" hidden>
  <div class="modal fade" id="adminCart-notAvailable">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-radius modal-shadow">
         <button  
          class="btn dismiss-button fas fa-times"
          type="button"
          data-bs-toggle="modal"
        ></button>
        <div class="modal-body stock">
          <div class="row">
            <div class="col-12">
              <div class="stock-not-available u-s-m-b-30">
                <div class="stock-not-available__text-wrap">
                  <i class="fas fa-exclamation-circle"></i>
                  <span>Currently, Admin cannot add products to cart.</span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="s-option">
                <span class="s-option__text">Please Login as a user or continue exploring user interface.</span>
                <div class="s-option__link-box">
                  <a class="s-option__link btn--e-white-brand-shadow" data-bs-dismiss="modal" href="/login">Login as User</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!--====== End - Add to Cart Modal(3) ======-->
  {{>user-footer}}
</main>



<script>

function filterByCategory(categoryName){
  console.log(categoryName);
  fetch('/filterByCategory',{
    method:'GET',
    headers:{
      'Content-Type':'application/json',
      },
      body:JSON.stringify({category:categoryName}),
  })
  .then(response=>{
    console.log(response);
    return response.json();
  }).then((data)=>{

  })
  .catch(Error=>{
    console.log('Error:',Error);
    throw new Error("Error while fetching the category products");
  })
}
/*
  function filterByCategory(categoryName){
    const products=document.getElementsByClassName("product-m");
    for(let i=0;i<products.length;i++){
      const category=products[i].querySelector('.product-m__category a').innerText.toLowerCase();
      if(category!=categoryName && categoryName!=='all'){
        products[i].style.display='none';
      }else{
        products[i].style.display='block';
      }
    }
  }

  function filterByPrice(priceRange){
    const productShow=document.getElementsByClassName("product-m");
    const products=document.getElementsByClassName('product-m__content');
    for(let i=0;i<products.length;i++){
      const priceElement=products[i].querySelector('.product-m__price');
      const priceText=priceElement.innerText;
      console.log(priceText);
      const price=parseInt(priceText.substring(1).replace(/,/g,""));
      if(price<priceRange){
        productShow[i].style.display='none';
      }else{
        productShow[i].style.display='block';
      }
    }
  }

  function filterProducts() {
  const selectedCategory = document.getElementById("categoryFilter").innerText;
  console.log(selectedCategory);
  const selectedPrice = document.getElementById("priceRange").value;
  const products = document.getElementsByClassName("product-m__content");

  for (let i = 0; i < products.length; i++) {
    const category = products[i].querySelector(".product-m__category a").innerHTML;
    const price = parseInt(products[i].querySelector(".product-m__price").innerText.substring(1));

    if ((selectedCategory === "all" || category === selectedCategory) && price <= selectedPrice) {
      products[i].style.display = "block";
    } else {
      products[i].style.display = "none";
    }
  }
}
*/
</script>