<main id="main">
    {{>admin-header}}
    {{>admin-sidebar}}

<section class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div id="messageContainer">
    {{#if message}}
    <div class="alert alert-danger d-flex align-items-center mb-4" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#info-fill" />
        </svg>
        <div>
            {{message}}
        </div>
    </div>
    {{/if}}
     </div>
    <div class="card mb-4">
        <div class="card-header justify-content-between align-items-center d-flex">
            <h6 class="card-title m-0">Add Category</h6>
        </div>
        <div class="card-body">
            <form id="categoryForm" method="POST" action="/admin/{{#if editing}}edit-category{{else}}add-category{{/if}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="mb-3">
                    <label for="categoryname" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="InputCategory"
                        aria-describedby="emailHelp" placeholder="Enter the category name" name="name" value="{{#if editing}}{{category.name}}{{/if}}">
                    <div id="errorContainer" class="text-danger"></div>
                </div>
                <div class="d-flex add-category gap-3">
                    {{#if editing}}
                    <input type="hidden" name="categoryId" value="{{category._id}}">
                    {{/if}}
                    <button type="submit" class="btn mb-2 btn-primary">
                        {{#if editing}}
                        Update Category
                        {{else}}
                        Add Category
                        {{/if}}
                    </button>
                    <a href="/admin/category" class="btn mb-2 btn-outline-info">Go Back</a>
                </div>
            </form>
        </div>
    </div>
    </section>
</main>
