<style>
  .gradient-custom {
/* fallback for old browsers */
background: #cd9cf2;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}
#editStatusDropdown {
  display: none;
}

.show-dropdown #editStatusDropdown {
  display: block;
}

.pointerMouse{
  cursor: pointer;
}
</style>
<main id="main">
    {{>admin-header}}
    {{>admin-sidebar}}
     <!-- Content-->
        <section class="container-fluid">
        
        <div class="card mb-4">
            <div class="card-header justify-content-between align-items-center d-flex">
                <h6 class="card-title m-0">Order Management</h6>
            </div>
            <div class="card-body">

                <!-- User listing Actions-->
                {{!-- <div class="d-flex justify-content-between align-items-center mb-3">
                    <form class="bg-light rounded px-3 py-1 flex-shrink-0 d-flex align-items-center">
                        <input class="form-control border-0 bg-transparent px-0 py-2 me-5 fw-bolder" type="search"
                          placeholder="Search" aria-label="Search">
                        <button class="btn btn-link p-0 text-muted" type="submit"><i class="ri-search-2-line"></i></button>
                    </form>
                </div> --}}

                  <!-- Latest Orders-->
                <div class="col-12">
                    <div class="card mb-4 h-100">
                        <div class="card-header justify-content-between align-items-center d-flex">
                            <h6 class="card-title m-0">Full orders List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table m-0 table-striped">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Billing Name</th>
                                            <th>Date</th>
                                            <th>Payment Method</th>
                                            <th>Items</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {{#each orders}}
                                        <tr>
                                            <td>
                                                <span class="fw-bolder">#{{this._id}}</span>
                                            </td>
                                            <td>{{this.user.userId.name}}</td>
                                            <td class="text-muted">{{formatDate dateCreated}}</td>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                  {{#if (eq this.paymentmethod 'COD')}}
                                                    <i class="ri-CUR-line ri-lg me-2"></i>cash-on-delivery
                                                    {{else }}
                                                    <i class="ri-visa-line ri-lg me-2"></i>StripePayment
                                                    {{/if}}
                                                </div>
                                            </td>
                                            <td class="text-muted">{{this.products.length}}</td>
                                            <th class="text-muted">₹{{this.total}}</th>
                                            <td id="statusElement">
                                             {{#if (eq this.status 'completed')}}
                                    <span class="badge rounded-pill bg-success-faded text-success" order-status="{{this._id}}" >{{this.status}}</span>
                                          {{else if (eq this.status 'pending')}}
                                    <span class="badge rounded-pill bg-warning-faded text-success " order-status="{{this._id}}">{{this.status}}</span>
                                           {{else if (eq this.status 'shipped')}}
                                   <span class="badge rounded-pill bg-info-faded text-info " order-status="{{this._id}}">{{this.status}}</span>
                                          {{else if (eq this.status 'Out For Delivery')}}
                                    <span class="badge rounded-pill bg-primary-faded text-primary " order-status="{{this._id}}">{{this.status}}</span>
                                          {{else}}
                                           <span class="badge rounded-pill bg-danger-faded text-danger " order-status="{{this._id}}">{{this.status}}</span>
                                          {{/if}}
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                                                        id="dropdownOrder-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="ri-more-2-line"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown" aria-labelledby="dropdownOrder-0">
                                                        <li style="display: flex;justify-content:space-between;position: relative;">
                                                         <button class="btn-link dropdown-toggle01 dropdown-toggle-icon01 p-0"
                                                        id="dropdownOrder-01" type="button" onclick="toggleEditStatusDropDown(event,'{{this._id}}','{{this.status}}')" >
                                                        {{!-- <i class="ri-more-2-line"></i> --}}
                                                        Edit Status
                                                         </button>
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                         </svg>
                                                    </li>
                                                        <li>
                                                          <a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                                         role="button" aria-controls="offcanvasExample" style="display: flex;justify-content: space-between;">
                                                           View Details
                                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                                           <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                                                            </svg>
                                                                </a></li>
                                                    </ul>
                                                </div>
                                                <div id="statusOptions-0-{{this._id}}" class="statusOptions" style="display:none;position: absolute;z-index: 999999;top:10rem;right:10rem">
                                              <ul class="list-group list-group-vertical p-2">
                                             <li class="list-group-item bg-info">
                                            <a class="text-decoration-none text-white clicked pointerMouse" >shipped</a>
                                            </li>
                                         <li class="list-group-item bg-danger">
                                             <a class="text-decoration-none text-white clicked pointerMouse" >cancelled</a>
                                          </li>
                                         <li class="list-group-item bg-secondary">
                                        <a class="text-decoration-none text-white clicked pointerMouse">Out For Delivery</a>
                                        </li>
                                      <li class="list-group-item bg-success">
                                       <a class="text-decoration-none text-white clicked pointerMouse">completed</a>
                                      </li>
                                      </ul>
                                        </div>
                                        </td>
                                        </tr>

                                                 {{!-- sample canvas from chatgpt --}}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Order Details</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-12">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Order Summary of <span style="color: #202020;">#{{this._id}}</span>!</h5>
            </div>
            <div class="card-body p-4">
              <!-- Product 1 -->
              {{#each this.products}}
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                       <img src="{{this.product.imageUrl.[0]}}" 
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{this.product.title}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    {{#each this.product.category}}
                      <p class="text-muted mb-0 small">{{this.name}}</p> 
                    {{/each}}
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Price: ₹{{this.product.price}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Total Price:₹{{this.totalPrice}}</p>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
              <!-- Order Details -->
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>₹{{this.subTotal}}</p>
              </div>

              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Invoice Number:#{{this.orderId}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span>₹{{subtract subTotal total}}</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Invoice Date: {{formatDate dateCreated}}</p>
                {{!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span>0.00</p> --}}
              </div>

              <div class="d-flex justify-content-between mb-5">
                {{!-- <p class="text-muted mb-0">Receipt Voucher: 18KU-62IIK</p> --}}
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5" style="background-color: #202020; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">₹{{total}}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
                                          </div>
              {{!-- sample end canvas from chatgpt --}}
                                        {{/each}} 
                                    </tbody>
                                </table>
                            </div>    
                        
                        </div>
                    </div>
                </div>
                <!-- Latest Orders-->
                <nav>
                    {{!-- <ul class="pagination justify-content-end mt-3 mb-0">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul> --}}
                  </nav>
            </div>
        </div>

        <!-- Footer -->
        <footer class="  footer">
            <p class="small text-muted m-0">All rights reserved | © 2021</p>
            <p class="small text-muted m-0">Template created by <a href="https://www.pixelrocket.store/">Vishnuraj</a></p>
        </footer>
        
        
        <!-- Sidebar Menu Overlay-->
        <div class="menu-overlay-bg"></div>
        <!-- / Sidebar Menu Overlay-->
        
        <!-- Modal Imports-->
        <!-- Place your modal imports here-->
        
        <!-- Default Example Modal Import-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Here goes modal body content
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <!-- Offcanvas Imports-->
        <!-- Place your offcanvas imports here-->
        <!-- Default Example Offcanvas Import-->       
          <!-- / Footer-->
        </section>
        <!-- / Content-->
</main>

{{!-- <script>
function toggleEditStatusDropDown(event, dropdownId, orderId,status) {
  event.stopPropagation();
  
  // Hide all dropdowns except the one with the specified dropdownId
  var dropdowns = document.getElementsByClassName("statusOptions");
  for (var i = 0; i < dropdowns.length; i++) {
    var dropdown = dropdowns[i];
    if (dropdown.id === dropdownId) {
      dropdown.style.display = (dropdown.style.display === "none") ? "block" : "none";
    } else {
      dropdown.style.display = "none";
    }
  }
  //document.getElementById('selectedStatusElementId').innerText=selectedStatus;
  // Do something with the orderId
  console.log("Selected order ID:", orderId);
  console.log("Selected status:", status);

  updateOrderStatus(orderId,status,updateStatusCallback)
}

document.addEventListener("click", function(event) {
  var dropdowns = document.getElementsByClassName("statusOptions");
  for (var i = 0; i < dropdowns.length; i++) {
    var dropdown = dropdowns[i];
    dropdown.style.display = "none";
  }
});
</script> --}}


<script>
function toggleEditStatusDropDown(event,orderId,currentstatus) {
  event.stopPropagation();
  var dropdown = document.getElementById("statusOptions-0-"+orderId);
  dropdown.style.display = (dropdown.style.display === "none") ? "block " : "none";

  var statusOptions=dropdown.getElementsByClassName('list-group-item');
  for(var i=0;i<=statusOptions.length;i++){
    var statusOption=statusOptions[i];
    statusOption.addEventListener('click',function(){
      var selectedStatus=this.textContent.trim();
      updateOrderStatus(orderId,selectedStatus,updateStatusCallback);
      dropdown.style.display = "none";
    })
  }
}

document.addEventListener("click", function(event) {
  var dropdown = document.getElementById(`statusOptions-0-`);
  if(dropdown.style.display === "block") {
    dropdown.style.display = "none";
  }
});
</script>
